<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Study Spark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        .top-bar {
            padding: 5px 15px;
            /* Adjust padding as needed */
            background-color: #343a40;
        }

        .top-bar .text-white {
            font-size: 14px;
            /* Adjust font size as needed */
        }

        .top-bar .d-inline-flex>small {
            margin: 0 5px;
            /* Adjust margin as needed */
        }

        .form-control,
        .custom-select,
        .btn {
            height: 60px;
            padding: 3 rem;
            /* Add this line to apply border radius */
        }

        .btn-primary {
            font-size: 1.1rem;
            /* Add this line to apply border radius */
        }
    </style>

</head>

<body>

    <div class="black-shade" id="black-shade" style="display: none;"></div>

    <%- include('partials/header')%>
        
        <nav class="navbar justify-content-center navbar-expand-lg bg-white navbar-light py-3 px-lg-5">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center px-lg-3" id="navbarCollapse"
                style="width: 100%;">
                <div class="navbar-nav py-0">
                    <a href="index.html" class="nav-item nav-link ">Home</a>
                    <a href="about.html" class="nav-item nav-link ">About us</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Online Course</a>
                        <div class="dropdown-menu m-0">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">UG</a>
                                <div class="dropdown-menu m-0">
                                    <a href="ba.html" class="dropdown-item nav-link">BA</a>
                                    <a href="bba.html" class="dropdown-item nav-link">BBA</a>
                                    <a href="bca.html" class="dropdown-item nav-link"> BCA</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">PG Courses</a>
                                <div class="dropdown-menu m-0">
                                    <a href="mba.html" class="dropdown-item nav-link">MBA</a>
                                    <a href="mca.html" class="dropdown-item nav-link">MCA</a>
                                    <a href="ma.html" class="dropdown-item nav-link">MA<br>(English/ Political
                                        Science/ Sociology)</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Study Abroad</a>
                        <div class="dropdown-menu m-0">
                            <a href="management.html" class="nav-item nav-link">Management </a>
                            <a href="medical.html" class="nav-item nav-link">Medical</a>
                            <a href="engineering.html" class="nav-item nav-link">Engineering</a>
                            <a href="architecture.html" class="nav-item nav-link active">Architecture</a>
                            <a href="science.html" class="nav-item nav-link">Science</a>
                            <a href="law.html" class="nav-item nav-link">Law</a>
                            <a href="commerce.html" class="nav-item nav-link">Commerce</a>
                            <a href="arts.html" class="nav-item nav-link">Arts</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Countries</a>
                        <div class="dropdown-menu m-0" >
                            <a href="usa.html" class="nav-item nav-link">USA</a>
                            <a href="canada.html" class="nav-item nav-link">Canada</a>
                            <a href="uk.html" class="nav-item nav-link">UK</a>
                            <a href="ireland.html" class="nav-item nav-link">Ireland</a>
                            <a href="singapore.html" class="nav-item nav-link">Singapore</a>
                            <a href="australia.html" class="nav-item nav-link">Australia</a>
                            <a href="newzealand.html" class="nav-item nav-link">New Zealand</a>
                            <a href="dubai.html" class="nav-item nav-link">Dubai</a>
                            <a href="france.html" class="nav-item nav-link">France</a>
                            <a href="italy.html" class="nav-item nav-link">Italy</a>
                            <a href="germany.html" class="nav-item nav-link">Germany</a>
                             
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">MBBS Abroad</a>
                        <div class="dropdown-menu m-0">
                            <a href="russia.html" class="nav-item nav-link">Russia</a>
                            <a href="georgia.html" class="nav-item nav-link">Georgia</a>
                            <a href="philippines.html" class="nav-item nav-link">Philippines</a>
                            <a href="china.html" class="nav-item nav-link">China</a>
                            <a href="serbia.html" class="nav-item nav-link">Serbia</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <!--<a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Join Us</a>-->
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

        <!-- Header Start -->
        <div class="jumbotron jumbotron-fluid canada position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center down-space">
            <h1 class="text-white display-1">ARCHITECTURE</h1>
            <!-- <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">About</p>
            </div>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Courses</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Courses 1</a>
                            <a class="dropdown-item" href="#">Courses 2</a>
                            <a class="dropdown-item" href="#">Courses 3</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
        <!-- Header End -->


        <!-- About Start -->
        
        <!-- <div class="container-fluid py-3" style="background-color: #9d48bf;">
            <div class="container py-3">
                    <div class="row">
                        <div class="col-lg-5 mb-4 mb-lg-0" style="min-height: 200px; position: relative;">
                            <div class="position-relative" style="height: 500px;">
                                <img class="position-absolute w-100 h-100" src="/img/canadaFlag.jpg" style="object-fit: cover; height: 100%;">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="section-title position-relative mb-3">
                                <h5 class="d-inline-block position-relative text-secondary text-uppercase pb-2"></h5> 
                                 <h1 class="display-4" style="color: #ffffff;">Why Study in Canada?</h1>
                            </div>
                            <p style="font-size: large; color: #ffffff;">Canada, the second-largest country in the world, offers numerous benefits for students. With high-quality education, culturally enriching experiences, and more affordable costs compared to the UK and USA, Canada has become a top choice for around 70,000 international students annually. Ranking third globally in attracting international students, Canada has seen a tripling in its student intake over the past decade.
                                 The country’s bilingual environment, with English and French as official languages, further enhances its appeal.
                                Indian students make up 34% of Canada’s international student population. Although tuition fees for international students are higher, overall living expenses are lower than in countries like the UK, US, and Australia.
                                
                              <br><br>&nbsp;Indian students make up 34% of Canada’s international student population. Although tuition fees for international students are higher, overall living expenses are lower than in countries like the UK, US, and Australia.
                            </p>                         
                        </div>
                    </div>
            </div>
        </div> -->
        <!-- About End -->


        <!-- Feature Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
            
                <div class="row" style="background-color: #7b289f; border-radius: 10px; padding: 25px; height: min-content; ">
                     <div class="container">
                        <div class="row">
                            
                            <div class="d-flex flex-column firstRow">
                                <h1 style="color: #ffffff; padding-top: 10px"> Architecture</h1>
                                <p style="color: #ffffff; padding-top: 10px "><span class="popular">Popular Destinations: </span>  USA, UK, Australia, Canada, Ireland
                                    <br>
                                    <br>
                                    <span class="special"> Specializations: </span>     Fashion Design, Graphic Design, Fine Arts, Interior Design, Animation

                                    <br>
                                    <br>
                                    <span class="why">  Why:</span> These countries are known for their rich cultural heritage, providing inspiration and hands-on learning opportunities in creative fields.
                                </p>
                                
                           
                                    <!--content-->
                                </div>
                                        <div class="d-flex flex-column firstRow">
                                            <h1 style="color: #ffffff;  padding-top: 10px; ">Business and Management</h1>
                                            <p style="color: #ffffff; padding-top: 10px  "><span class="popular">Popular Destinations: </span>  USA, UK, Canada, Australia, Singapore
                                                <br>
                                                <br>
                                                <span class="special"> Specializations: </span>MBA, International Business, Entrepreneurship, Finance, Marketing
                                            <br>
                                            <br>
                                            <span class="why">  Why:</span> These programs offer global business perspectives, networking opportunities, and career prospects in multinational corporations.</p>
                                            
                                        </div>
                                   
                                            <div class="d-flex flex-column firstRow">
                                                <h1 style="color: #ffffff; padding-top: 10px; ">Engineering</h1>
                                                <p style="color: #ffffff; padding-top: 10px  "><span class="popular">Popular Destinations: </span>  Germany, USA, Canada, Australia, Singapore
                                                    <br>
                                                    <br>
                                                    <span class="special"> Specializations: </span> Mechanical, Civil, Electrical, Computer Science, Chemical Engineering.
                                                    <br>
                                                    <br>
                                                    <span class="why">  Why:</span> Engineering programs abroad offer access to cutting-edge technology, research facilities, and industry partnerships.
                                                </p>
                                                
                                            </div>
    
                                            <div class="d-flex flex-column firstRow">
                                                <h1 style="color: #ffffff; padding-top: 10px"> Computer Science and IT </h1>
                                                <p style="color: #ffffff; padding-top: 10px "><span class="popular">Popular Destinations: </span>  USA, Canada, Germany, Australia, Netherlands
                                                    <br>
                                                    <span class="special"> Specializations: </span>Data Science, Artificial Intelligence, Cybersecurity, Software Engineering, Information Systems.
                                                    <br>
                                                    <br>
                                                    <span class="why">  Why:</span> The global demand for tech professionals makes this a lucrative field with vast opportunities for innovation and entrepreneurship.
                                                </p>
                                                
                                           
                                            </div>       <!--content-->
                                    
                                            
                                        
                                        
                                           
                                                 
                                   
                                            <div class="d-flex flex-column firstRow">
                                                <h1 style="color: #ffffff; padding-top: 10px"> Law </h1>
                                                <p style="color: #ffffff; padding-top: 10px "><span class="popular">Popular Destinations: </span> UK, USA, Canada, Australia, Singapore
                                                    <br>
                                                    <br>
                                                    <span class="special"> Specializations: </span> International Law, Corporate Law, Human Rights, Environmental Law, Intellectual Property Law
                                                    <br>
                                                    <br>
                                                    <span class="why">  Why:</span> Law programs abroad often offer exposure to international legal systems and provide an edge in global legal practices.
                                                </p>
                                                
                                           
                                                    <!--content-->
                                            </div>
                                           
                                
                                        <div class="d-flex flex-column firstRow">
                                            <h1 style="color: #ffffff; padding-top: 10px">Arts and Design  </h1>
                                            <p style="color: #ffffff; padding-top: 10px "><span class="popular">Popular Destinations: </span> Italy, France, USA, UK, Netherlands

                                                <br>
                                                <br>
                                                <span class="special"> Specializations: </span> Fashion Design, Graphic Design, Fine Arts, Interior Design, Animation
                                                <br>
                                                <br>
                                                <span class="why">  Why:</span> These countries are known for their rich cultural heritage, providing inspiration and hands-on learning opportunities in creative fields.
                                            </p>
                                            
                                       
                                                <!--content-->
                                        </div>
                                        
                            
                                    <div class="d-flex flex-column firstRow">
                                        <h1 style="color: #ffffff; padding-top: 10px">Hospitality and Tourism </h1>
                                        <p style="color: #ffffff; padding-top: 10px "><span class="popular">Popular Destinations: </span>  Switzerland, Australia, France, Spain, Singapore
                                            <br>
                                            <br>
                                            <span class="special"> Specializations: </span> Hotel Management, Event Management, Culinary Arts, Tourism Management
                                            <br>
                                            <br>
                                            <span class="why">  Why:</span> Leading tourism destinations offer world-class hospitality programs with practical training and global career opportunities.
                                        </p>
                                        
                                   
                                            <!--content-->
                                    </div>
                                <div class="d-flex flex-column firstRow">
                                    <h1 style="color: #ffffff; padding-top: 10px">Environmental Science and Sustainability</h1>
                                    <p style="color: #ffffff; padding-top: 10px "><span class="popular">Popular Destinations: </span>  Sweden, Netherlands, Germany, Canada, New Zealand
                                        <br>
                                        <br>
                                        <span class="special"> Specializations: </span>Climate Change, Renewable Energy, Environmental Policy, Conservation
                                        <br>
                                        <br>
                                        <span class="why">  Why:</span>Countries with advanced sustainability initiatives provide an ideal environment for studying and implementing green solutions.

                                    </p>
                                    
                               
                                        <!--content-->
                                    </div>
                                
                            <div class="d-flex flex-column firstRow">
                                <h1 style="color: #ffffff; padding-top: 10px"> Media and Communication</h1>
                                <p style="color: #ffffff; padding-top: 10px "><span class="popular">Popular Destinations: </span>  USA, UK, Australia, Canada, Netherlands
                                    <br>
                                    <br>
                                    <span class="special"> Specializations: </span> Journalism, Digital Media, Public Relations, Film Studies, Media Production
                                    <br>
                                    <br>
                                    <span class="why">  Why:</span>Global media hubs offer the best opportunities for internships, networking, and exposure to the evolving media landscape.
                                </p>
                                
                           
                                    <!--content-->
                            </div>
                            <div class="d-flex flex-column firstRow">
                                <h1 style="color: #ffffff; padding-top: 10px">  Tips for Choosing a Course Abroad:
                                </h1>
                                <p style="color: #ffffff; padding-top: 10px "><span class="line"> University Rankings:</span> Look at global rankings for specific programs.
                                    <br>
                                    <br>
                                  <span class="line">  Consider Future Career Prospects:</span> Research the job market in the country you wish to study.
                                    <br>
                                    <br>
                                   <span class="line"> Language Proficiency: </span> you are comfortable with the language of instruction.
                                    <br>
                                    <br>
                                   <span class="line"> Cultural and Social Environment:</span> Consider how well you will adapt to a new culture.
                                    <br>
                                    <br>
    <span class="line">Financial Planning: </span> tuition costs, scholarships, and living expenses.
    <br>
    <br>
    
    
                                </p>   <!--content-->
                            </div>
    </div>
    </div>
    </div>
    </div>
    </div>
                
        <!-- Feature Start -->


    <!-- Footer Start -->
    <section class="top-footer">
        <a href="index.html" class="navbar-brand">
            <div class="header-container flex-nowrap" style="width: fit-content;">
                <img src="img/logo2.svg" alt="Logo" class="logo">
                <div class="text-container">
                    <h1 class="m-0 text-uppercase text-primary" style="line-height: 1.0;">
                        <span class="study-spark">STUDY SPARK</span><br>
                        <span class="educational-consultancy">EDUCATIONAL CONSULTANCY</span>
                    </h1>
                </div>
            </div>
        </a>
     </section>
    <div class="bg-dark bottom-bar">
        <!-- Blurred background image for the footer -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="full-width-paragraph my-5">
                        Our mission is to empower individuals and institutions through personalized consultancy
                        services that foster academic excellence, career readiness, and lifelong learning. By
                        combining expertise with a deep commitment to client success, we strive to make a
                        meaningful impact on educational journeys worldwide.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 my-5">
                    <h3 class="text-white mb-4">Get In Touch</h3>
                    <p class="foot-font"><i class="fa fa-map-marker-alt mr-2" style="color: red;"></i>Bangalore, India
                    </p>
                    <p class="foot-font"><i class="fa fa-phone-alt mr-2"></i>+91 63827 09460,<br> &nbsp; &nbsp;
                        &nbsp;+91 91108 01809</p>
                    <p class="foot-font"><i class="fa fa-envelope mr-2"></i>director@studyspark.com</p>
                </div>
                <div class="col-lg-4 my-5">
                    <h3 class="text-white mb-4">Our Courses</h3>
                    <div class="d-flex flex-column" style="font-size: 18px;">
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Medical</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Engineering</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Architecture</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Science</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Commerce</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Law</a>
                    </div>
                </div>
                <div class="col-lg-4 my-5">
                    <h3 class="text-white mb-4">Quick Links</h3>
                    <div class="d-flex flex-column" style="font-size: 18px;">
                        <a class="text-white-50 mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-white-50 mb-2" href="about.html"><i class="fa fa-angle-right mr-2"></i>About
                            Us</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Courses</a>
                        <a class="text-white-50" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                            Us</a>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border: 3px solid white;">

        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-5 mt-3 mb-md-0">
                    <p class="mb-5">Copyright &copy; <a class="text-white" href="#">Study Spark</a>. All Rights
                        Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i
            class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>    

        defaultOpen.click();
       
       
       function openCity(event, ids) {
       
           tablinks = document.getElementsByClassName('tablinks')
       defaultOpen = document.getElementById('defaultOpen')
       tabcontent = document.getElementsByClassName('tabcontent')
       
       
       
           for (var i = 0; i < tablinks.length; i++) {
                
               tablinks[i].className = tablinks[i].className.replace(' active', '')
           }
       
           for (var i = 0; i < tabcontent.length; i++) {
               tabcontent[i].style.display = 'none';
           }
       
           document.getElementById(ids).style.display = 'block'
           event.currentTarget.className += ' active'
            
        
           
       
           var x = window.matchMedia("(max-width: 700px)")
           
       myFunction(x) // Call listener function at run time
       x.addListener(myFunction) // Attach listener function on state changes
       
           function myFunction(x) {
                       
               if (x.matches) { // If media query matches 
       
                   showHere = document.getElementsByClassName("showHere");
                   for (i = 0; i < showHere.length; i++) {
                       showHere[i].style.display = "none";
                   }
       
                   nextDiv = event.currentTarget.nextElementSibling
       
                   allHTML = document.getElementById(ids).innerHTML
                   nextDiv.innerHTML = allHTML
                   nextDiv.style.display = "block";
       
               } 
           }
       
       
       }
       
       </script>
</body>

</html>