<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Study Spark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Your Spark for Academic Achievement" name="keywords">
    <meta content="Your Spark for Academic Achievement" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        .top-bar {
            padding: 5px 15px; /* Adjust padding as needed */
            background-color: #343a40;
        }
        .top-bar .text-white {
            font-size: 14px; /* Adjust font size as needed */
        }
        .top-bar .d-inline-flex > small {
            margin: 0 5px; /* Adjust margin as needed */
        }

        body {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
    </style>
    </head>

<body> 

    <div class="black-shade" id="black-shade" style="display: none;"></div>

    <!-- Topbar Start -->
    <div class="container-fluid bg-dark top-bar">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-12 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center text-white">
                    <img src="img/WhatsApp.svg" style="height: 30px; margin-right:2px;">
                    <p style="margin: 0;"><small>+91 63827 09460 <br> +91 91108 01809</small></p>
                    <!-- <small style="padding-left: 10px; margin-bottom: 10px;">|</small>-->
                </div>
                <div class="d-flex align-items-center text-white">
                    <small><i class="fa fa-envelope mr-2"></i>director@study-spark.com</small>
                </div>
            </div>
        </div>
    </div>


    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid p-0 d-lg-block text-center" id="header">
        <div class="logo-title d-lg-block">
            <a href="index.html" class="navbar-brand">
                <div class="header-container flex-nowrap">
                    <img src="img/logo2.svg" alt="Logo" class="logo">
                    <div class="text-container">
                        <h1 class="m-0 text-uppercase text-primary" style="line-height: 1.0;">
                            <span class="study-spark">STUDY SPARK</span><br>
                            <span class="educational-consultancy">EDUCATIONAL CONSULTANCY</span>
                        </h1>
                    </div>
                </div>
            </a>
        </div>
        <p class="header-title" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: rgb(216, 142, 6);font-weight: bold;text-transform: uppercase;">" Your Spark For Academic Achievement "</p>
        <nav class="navbar justify-content-center navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center px-lg-3" id="navbarCollapse" style="width: 100%;">
                <div class="navbar-nav py-0">
                    <a href="index.html" class="nav-item nav-link ">Home</a>
                    <a href="about.html" class="nav-item nav-link">About us</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Online Course</a>
                        <div class="dropdown-menu m-0">
                            <a href="index.html" class="nav-item nav-link">UG Programs</a>
                            <a href="index.html" class="nav-item nav-link">PG Programs</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Study Abroad</a>
                        <div class="dropdown-menu m-0">
                            <a href="index.html" class="nav-item nav-link">Management </a>
                            <a href="index.html" class="nav-item nav-link">Medical</a>
                            <a href="index.html" class="nav-item nav-link">Engineering</a>
                            <a href="index.html" class="nav-item nav-link">Architecture</a>
                            <a href="index.html" class="nav-item nav-link">Science</a>
                            <a href="index.html" class="nav-item nav-link">Law</a>
                            <a href="index.html" class="nav-item nav-link">Commerce</a>
                            <a href="index.html" class="nav-item nav-link">Arts</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Countries</a>
                        <div class="dropdown-menu m-0">
                            <a href="index.html" class="nav-item nav-link">USA</a>
                            <a href="index.html" class="nav-item nav-link">Canada</a>
                            <a href="index.html" class="nav-item nav-link">UK</a>
                            <a href="index.html" class="nav-item nav-link">Europe</a>
                            <a href="index.html" class="nav-item nav-link">Australia</a>
                            <a href="index.html" class="nav-item nav-link">New Zealand</a>
                            <a href="index.html" class="nav-item nav-link">Dubai</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">MBBS Abroad</a>
                        <div class="dropdown-menu m-0">
                            <a href="index.html" class="nav-item nav-link">Russia</a>
                            <a href="index.html" class="nav-item nav-link">Georgia</a>
                            <a href="index.html" class="nav-item nav-link">Philippines</a>
                            <a href="index.html" class="nav-item nav-link">China</a>
                            <a href="index.html" class="nav-item nav-link">Serbia</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link active">Contact</a>
                </div>
                <!--<a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Join Us</a>-->
            </div>
        </nav> 
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div id="contact-jumbotron" class="jumbotron jumbotron-fluid contact-us position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">Contact</h1>
       
    
            <!-- <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Contact</p>
            </div> -->
            <!-- <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Courses</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Courses 1</a>
                            <a class="dropdown-item" href="#">Courses 2</a>
                            <a class="dropdown-item" href="#">Courses 3</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button> -->
                    <!-- </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center" style="display: flex; justify-content: center">
                <div class="col-lg-7">
                    <div class="bg-white">
                    <div class="contact-form p-5">
                        <form  style="padding: 30px;">
                            <h1 class="display-4" style="color: #5b127e;">Send Us A Message</h1><br>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Name" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Subject" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Message" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


     <!-- Footer Start -->''
     <div class="container-fluid bg-dark bottom-bar text-white-50" style="margin-top: 60px;" >
        <!-- Blurred background image for the footer -->
           <div class="container mt-5 pt-5">
               <div class="row">
                   <div class="col-md-6 mb-5">
                       <a href="index.html" class="navbar-brand">
                           <div class="header-container flex-nowrap" style="width: fit-content;">
                               <img src="img/logo2.svg" alt="Logo" class="logo">
                               <div class="text-container">
                                   <h1 class="m-0 text-uppercase text-primary" style="line-height: 1.0;">
                                       <span class="study-spark">STUDY SPARK</span><br>
                                       <span class="educational-consultancy">EDUCATIONAL CONSULTANCY</span>
                                   </h1>
                               </div>
                           </div>
                       </a>
                       <p class="full-width-paragraph m-0">
                           Our mission is to empower individuals and institutions through personalized consultancy
                           services that foster academic excellence, career readiness, and lifelong learning. By
                           combining expertise with a deep commitment to client success, we strive to make a
                           meaningful impact on educational journeys worldwide.
                       </p>
                   </div>
                   <div class="col-md-6 mb-5">
                       <!-- Placeholder for future content -->
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-4 mb-5">
                       <h3 class="text-white mb-4">Get In Touch</h3>
                       <p class="foot-font"><i class="fa fa-map-marker-alt mr-2" style="color: red;"></i>Bangalore, India</p>
                       <p class="foot-font"><i class="fa fa-phone-alt mr-2" ></i>+91 63827 09460,<br> &nbsp; &nbsp; &nbsp;+91 91108 01809</p>
                       <p class="foot-font"><i class="fa fa-envelope mr-2"></i>director@studyspark.com</p>
                   </div>
                   <div class="col-md-4 mb-5">
                       <h3 class="text-white mb-4">Our Courses</h3>
                       <div class="d-flex flex-column" style="font-size: 18px;">
                           <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Medical</a>
                           <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Engineering</a>
                           <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Architecture</a>
                           <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Science</a>
                           <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Commerce</a>
                           <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Law</a>
                       </div>
                   </div>
                   <div class="col-md-4 mb-5">
                       <h3 class="text-white mb-4">Quick Links</h3>
                       <div class="d-flex flex-column" style="font-size: 18px;">
                           <a class="text-white-50 mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                           <a class="text-white-50 mb-2" href="about.html"><i class="fa fa-angle-right mr-2"></i>About
                               Us</a>
                           <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
                           <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Courses</a>
                           <a class="text-white-50" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                               Us</a>
                       </div>
                   </div>
               </div>
           </div>
   
           <div class="container">
               <div class="row">
                   <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                       <p class="m-0">Copyright &copy; <a class="text-white" href="#">Study Spark</a>. All Rights
                           Reserved.</p>
                   </div>
               </div>
           </div>
       </div>
       </div>
   
       <!-- Footer End -->

       
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>