<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Study Spark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Your Spark for Academic Achievement" name="keywords">
    <meta content="Your Spark for Academic Achievement" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        .top-bar {
            padding: 5px 15px;
            /* Adjust padding as needed */
            background-color: #343a40;
        }

        .top-bar .text-white {
            font-size: 14px;
            /* Adjust font size as needed */
        }

        .top-bar .d-inline-flex>small {
            margin: 0 5px;
            /* Adjust margin as needed */
        }

        .form-control,
        .custom-select,
        .btn {
            height: 60px;
            padding: 3 rem;
            /* Add this line to apply border radius */
        }

        .btn-primary {
            font-size: 1.1rem;
            /* Add this line to apply border radius */
        }
    </style>

</head>

<body>

    <div class="black-shade" id="black-shade" style="display: none;"></div>

    <%- include('partials/header')%>
        
        <nav class="navbar justify-content-center navbar-expand-lg bg-white navbar-light py-3 px-lg-5">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center px-lg-3" id="navbarCollapse"
                style="width: 100%;">
                <div class="navbar-nav py-0">
                    <a href="index.html" class="nav-item nav-link ">Home</a>
                    <a href="about.html" class="nav-item nav-link ">About us</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Online Course</a>
                        <div class="dropdown-menu m-0">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">UG</a>
                                <div class="dropdown-menu m-0">
                                    <a href="ba.html" class="dropdown-item nav-link">BA</a>
                                    <a href="bba.html" class="dropdown-item nav-link">BBA</a>
                                    <a href="bca.html" class="dropdown-item nav-link"> BCA</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">PG Courses</a>
                                <div class="dropdown-menu m-0">
                                    <a href="mba.html" class="dropdown-item nav-link">MBA</a>
                                    <a href="mca.html" class="dropdown-item nav-link">MCA</a>
                                    <a href="ma.html" class="dropdown-item nav-link">MA<br>(English/ Political
                                        Science/ Sociology)</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Study Abroad</a>
                        <div class="dropdown-menu m-0">
                            <a href="management.html" class="nav-item nav-link">Management </a>
                            <a href="medical.html" class="nav-item nav-link">Medical</a>
                            <a href="engineering.html" class="nav-item nav-link">Engineering</a>
                            <a href="architecture.html" class="nav-item nav-link ">Architecture</a>
                            <a href="science.html" class="nav-item nav-link">Science</a>
                            <a href="law.html" class="nav-item nav-link">Law</a>
                            <a href="commerce.html" class="nav-item nav-link">Commerce</a>
                            <a href="arts.html" class="nav-item nav-link">Arts</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Countries</a>
                        <div class="dropdown-menu m-0" >
                            <a href="usa.html" class="nav-item nav-link">USA</a>
                            <a href="canada.html" class="nav-item nav-link">Canada</a>
                            <a href="uk.html" class="nav-item nav-link">UK</a>
                            <a href="ireland.html" class="nav-item nav-link">Ireland</a>
                            <a href="singapore.html" class="nav-item nav-link">Singapore</a>
                            <a href="australia.html" class="nav-item nav-link">Australia</a>
                            <a href="newzealand.html" class="nav-item nav-link">New Zealand</a>
                            <a href="dubai.html" class="nav-item nav-link active">Dubai</a>
                            <a href="france.html" class="nav-item nav-link">France</a>
                            <a href="italy.html" class="nav-item nav-link">Italy</a>
                            <a href="germany.html" class="nav-item nav-link">Germany</a>
                             
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">MBBS Abroad</a>
                        <div class="dropdown-menu m-0">
                            <a href="russia.html" class="nav-item nav-link">Russia</a>
                            <a href="georgia.html" class="nav-item nav-link">Georgia</a>
                            <a href="philippines.html" class="nav-item nav-link">Philippines</a>
                            <a href="china.html" class="nav-item nav-link">China</a>
                            <a href="serbia.html" class="nav-item nav-link">Serbia</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <!--<a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Join Us</a>-->
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

        <!-- Header Start -->
        <div class="jumbotron jumbotron-fluid dubai position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center down-space">
            <h1 class="text-white display-1">DUBAI</h1>
            <!-- <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">About</p>
            </div>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Courses</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Courses 1</a>
                            <a class="dropdown-item" href="#">Courses 2</a>
                            <a class="dropdown-item" href="#">Courses 3</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
        <!-- Header End -->


        <!-- About Start -->
        
        <div class="container-fluid py-3" style="background-color: #9d48bf;">
            <div class="container py-3">
                    <div class="row">
                        <div class="col-lg-5 mb-4 mb-lg-0" style="min-height: 200px; position: relative;">
                            <div class="position-relative" style="height: 500px;">
                                <img class="position-absolute w-100 h-100" src="/img/dubaiFlag.jpg" style="object-fit: cover; height: 100%;">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="section-title position-relative mb-3">
                                <h5 class="d-inline-block position-relative text-secondary text-uppercase pb-2"></h5> 
                                 <h1 class="display-4" style="color: #ffffff;">Why Study in Dubai?</h1>
                            </div>
                            <p style="font-size: large; color: #ffffff;">
                                <ul>
                                    <li>Future Investment: A degree from Dubai can significantly enhance a student's educational and career prospects.</li>
                                    <li>World-Class Universities: Dubai hosts many prestigious universities known for high academic standards.</li>
                                    <li>Tax-Free Earnings: The tax-free environment is a significant draw for international students.</li>
                                    <li>Diverse Student Population: Students from Jordan, India, Pakistan, Oman, and Syria, among others, study in the UAE.</li>
                                    <li>Indian Student Presence: As of 2017, 13,370 Indian students were studying in Dubai. The Rochester Institute of Technology alone has 22% Indian students.</li>
                                </ul>
                            </p>                         
                        </div>
                    </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Feature Start -->
        <div class="container-fluid py-5">
        <div class="container py-5">
        
            <div class="row" style="background-color: #7b289f; border-radius: 10px; ">
                 <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <div class="list-group" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                <button class="tablinks active list-group-item list-group-item-action  box4" onclick="openCity(event, 'city')" id="defaultOpen"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Universities</p></button>
                                <div class='showHere'></div>
                                <button class="tablinks list-group-item list-group-item-action box1" onclick="openCity(event, 'system')"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Education System</p></button>
                                <div class='showHere'></div>
                                <button class="tablinks list-group-item list-group-item-action box3" onclick="openCity(event, 'course')"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Popular Courses</p></button>
                                <div class='showHere'></div>
                                <button class="tablinks list-group-item list-group-item-action box2" onclick="openCity(event, 'career')"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Career Outlook</p> </button>
                                <div class='showHere'></div>
                                <button class="tablinks list-group-item list-group-item-action box4" onclick="openCity(event, 'cost')"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Cost</p></button>
                                <div class='showHere'></div>
                                <button class="tablinks list-group-item list-group-item-action box2" onclick="openCity(event, 'Scholarships')"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Scholarships</p></button>
                                <div class='showHere'></div>
                                <button class="tablinks list-group-item list-group-item-action box1" onclick="openCity(event, 'living')"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Free Zones</p></button>
                                <div class='showHere'></div>
                                <button class="tablinks list-group-item list-group-item-action box3" onclick="openCity(event, 'visa')"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Visa</p></button>
                                <div class='showHere'></div>
                                <button class="tablinks list-group-item list-group-item-action box2" onclick="openCity(event, 'education-system')"><img  class="imglist" src="img/edusystem.svg" alt="Icon"><p class="fonttext">Post-Study Work Permit</p></button>
                                <div class='showHere'></div>
                                <!-- <button class="tablinks list-group-item list-group-item-action box4" onclick="openCity(event, 'faq')">FAQ</button>
                                <div class='showHere'></div> -->

                            </div>
                        </div>
                
                        <div class="col-10 mainHolder">
                
                      
                            <div id="city" class="tabcontent slideUp">
                                <div class="OnAnimateStart d-flex">
                                    <div class="d-flex flex-column firstRow">
                                    </div>
                                    <h1 style="color: #ffffff; padding-top: 10px"> Universities in UAE
                                    </h1>
                                  
                                    
                                    
                                </div>
                                
                                <div style=" padding-left: 100px; padding-top: 40px;">
                                    <!-- <div style="background: url(../public/img/caps.png);"></div> -->
                                <!-- <h4  style="color: #ffffff;  ;"> Provinces:</h3> -->
                                 <ul>
                                    <li>Alberta</li>
                                    <li> British Columbia</li>
                                    <li> Manitoba</li>
                                    <li>New Brunswick</li>
                                    <li>Newfoundland and Labrador</li>
                                    <li>Nova Scotia</li>
                                    <li>Ontario </li>
                                    <li>Prince Edward Island </li>
                                    <li> Quebec</li>
                                    <li>Saskatchewan</li>
                                 </ul>
                                </div>
                                <!-- <div style=" align-items: center; padding-left: 20px; ">
                                    <h4  style="color: #ffffff; padding-right: ;"> Territories:</h3>
                                     <ul>
                                        <li>Northwest Territories</li>
                                        <li> Nunavut</li>
                                        <li> Yukon</li>
                                        
                                     </ul>
                                    </div> -->
                               </div>
                         
                         
                               <div id="system" class="tabcontent slideUp">
                                <div class="OnAnimateStart d-flex">
                                    <div class="d-flex flex-column firstRow">
                                    <h1 style="color: #ffffff; padding-left: 150px; padding-top: 10px; padding-left: 10px;">Education System in Dubai </h1>
                                    <p style="color: #ffffff; padding-top: 10px;  ">Dubai’s education system spans 14 years, with primary and secondary education largely provided by private institutions. Higher education is a key focus, with public universities like UAE University, Higher Colleges of Technology, and Zayed University leading the way.
                                    </p>
                                        <!--content-->
                                    </div>
                                   
                                    
                                </div>
                                </div>
                         
                         
                                <div id="course" class="tabcontent slideUp">
                                    <div class="OnAnimateStart d-flex">
                                        <div class="d-flex flex-column firstRow">
                                        <h1 style="color: #ffffff; padding-top: 10px;">Popular Courses in UAE  </h1>
                                        <p style="color: #ffffff; padding-top: px; ">MBA: MBA programs are among the most popular courses pursued by Indian students in Dubai. The city's top business schools include:</p>
                                        <ul>
                                            <li>London Business School</li>
                                            <li>Manchester Business School</li>
                                            <li>Cass Business School</li>
                                            <li>University of Wollongong</li>
                                            <li>American University</li>
                                            <li>HULT International Business School</li>
                                        </ul>
                                        <p>Engineering: Dubai's reliance on advanced technology is reflected in its architectural marvels. Top universities for engineering include:</p>
                                        <ul>
                                            <li>American University in Dubai</li>
                                            <li>University of Dubai</li>
                                        </ul>
                                        <p>Mechanical Engineering sees the highest enrollment, with ample opportunities across the UAE.</p>
                                        <p>Accounts and Finance: Finance graduates are in high demand in Dubai’s job market.</p>
                                        <p>Medicine: Dubai is becoming a popular destination for medical studies, especially among students from Asian countries.</p>
                                        </div>
                                    </div>
                                </div>
                        
                                      
                                                       
                               <div id='career'class="tabcontent slideUp">
                                <div class="OnAnimateStart d-flex">
                                    <div class="d-flex flex-column firstRow">
                                    <h1 style="color: #ffffff; padding-top: 10px">Career Outlook </h1>
                                    <p style="color: #ffffff; padding-top: 10px; ">International students are drawn to the UAE not only for its academic excellence but also for its promising employment opportunities.</p>
                                    <h1 style="color: #ffffff; padding-top: 10px">Work While Studying</h1>
                                    <p style="color: #ffffff; padding-top: 10px; ">Indian students in Dubai can work up to 20 hours a week during term time and 40 hours during holidays, with university permission. Part-time jobs offer students practical experience and help manage expenses, with earnings ranging from 15-30 AED per hour.</p>
                                        <!--content-->
                                    </div>
                                   
                                    
                                </div>
                                </div>
                                <div id='cost'class="tabcontent slideUp">
                                    <div class="OnAnimateStart d-flex">
                                        <div class="d-flex flex-column firstRow">
                                        <h1 style="color: #ffffff; padding-top: 10px">Cost of Studying in Dubai </h1>
                                        <p style="color: #ffffff; padding-top: 10px; ; ">Indian students spend about AED 1,200 per month on general living expenses.</p>
                                        <h1 style="color: #ffffff; padding-top: 10px">Accommodation in Dubai </h1>
                                        <p>Accommodation costs vary based on the type:</p>
                                        <ul>
                                            <li>On-Campus: AED 14,500 – AED 27,500</li>
                                            <li>Private: AED 70,000 – AED 190,000</li>
                                        </ul>
                                            <!--content-->
                                        </div>
                                       
                                        
                                    </div>
                                    </div>
                                    <div id='Scholarships'class="tabcontent slideUp">
                                        <div class="OnAnimateStart d-flex">
                                            <div class="d-flex flex-column firstRow">
                                            <h1 style="color: #ffffff; padding-top: 10px">Scholarships for Students </h1>
                                            <p style="color: #ffffff; padding-top: 10px; ; ">Dubai offers various scholarships to ease the financial burden of studying abroad. Some scholarships available to Indian students include:
                                            </p>
                                            <ul>
                                                <li>Outstanding Academic Excellence Scholarships</li>
                                                <li>Scholarships for Undergraduate Programs at BITS Pilani, Dubai</li>
                                                <li>Masdar Institute Fully Funded Master Scholarships</li>
                                                <li>International Student Tuition Scholarships</li>
                                                <li>SP Jain Center of SPG Management Global MBA Program</li>
                                                <li>The Indian High School Dubai Scholarships</li>
                                                <li>HH Sheikh Hamdan Scholarships</li>
                                                <li>SKP Scholarship (Pathak Scholarships)</li>
                                                <li>Multicultural Student Scholarship (MSS)</li>
                                                <li>Hamdan Bin Zayed Scholarships for Top Secondary School Graduates</li>
                                            </ul>
                                                <!--content-->
                                            </div>
                                           
                                            
                                        </div>
                                        </div>
                                        <div id='living'class="tabcontent slideUp">
                                            <div class="OnAnimateStart d-flex">
                                                <div class="d-flex flex-column firstRow">
                                                <h1 style="color: #ffffff; padding-top: 10px;">Education Free Zones</h1>
                                                <p style="color: #ffffff; padding-top: 50px; ; "> Dubai's education free zones, such as Dubai Knowledge Village and Dubai International Academic City, host international universities from countries like India, Pakistan, and the UK.</p>
                                                    <!--content-->
                                                </div>
                                               
                                                
                                            </div>
                                            </div>
                                            <div id='visa'class="tabcontent slideUp">
                                                <div class="OnAnimateStart d-flex">
                                                    <div class="d-flex flex-column firstRow">
                                                    <h1 style="color: #ffffff; padding-top: 10px">Visa Application</h1>
                                                    <p style="color: #ffffff; padding-top: 10px; ; "> Indian students need a student visa to study in the UAE. The process requires:</p>
                                                    <ul>
                                                        <li>An acceptance letter from a UAE university</li>
                                                        <li>A medical test</li>
                                                        <li>A sponsor (university, parent, or relative)</li>
                                                        <li>Approval from the General Directorate of Residency and Foreigners Affairs (GDRFA)</li>
                                                    </ul>
                                                    <p>A student visa is valid for one year and can be renewed.</p>
                                                        <!--content-->
                                                    </div>
                                                   
                                                    
                                                </div>
                                                </div>
                                            <div id='education-system'class="tabcontent slideUp">
                                                <div class="OnAnimateStart d-flex">
                                                    <div class="d-flex flex-column firstRow">
                                                    <h1 style="color: #ffffff; padding-top: 10px">Post-Study Work Permit
                                                    </h1>
                                           <p style="padding-top: 10px"> To work in the UAE after graduation, candidates must obtain a work permit from the Ministry of Human Resources and Emiratisation (MoHRE). The permit allows for two months of job searching, during which time employers arrange for medical checks, an Emirates ID card, and a work residency permit, indicating company sponsorship.</p>
                                                        <!--content-->
                                                    </div>
                                                   
                                                    
                                                </div>
                                                </div>
                                               
                                    
                                                 <div id='faq'class="tabcontent slideUp">
                                                    <div class="OnAnimateStart d-flex">
                                                        <div class="d-flex flex-column firstRow">
                                                        <h1 style="color: #ffffff; padding-top: 10px">Frequently Asked Questions </h1>
                                                        <!-- <img  src="https://www.pexels.com/photo/question-marks-on-craft-paper-5428830/" alt="hjdj"> -->

                                                    
                                                        <ul style="padding-top: 50px;">
                                                            <li><h5>How much does it cost to study in Canada? </h5>Total costs for international students range from CAD 20,000 to CAD 60,000 per year.</li>
                                                            <li><h5>Can I study in Canada cheaply?</h5> Yes, Canada offers affordable tuition and living costs compared to other popular destinations like the US, UK, and Australia.</li>
                                                            <li><h5>Which are the top universities in Canada?</h5> Leading universities include the University of Toronto, University of British Columbia, McGill University, and more.
                                                            </li>
                                                            <li><h5>What are the top courses to study in Canada?</h5> Engineering, IT, Biosciences, Medical and Healthcare, MBA, Media & Journalism, and Human Resources are among the top choices.
                                                            </li>
                                                        </ul>
                                                            <!--content-->
                                                        </div>
                                                       
                                                        
                                                    </div>
                                                    </div>
                                    
                                
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Feature Start -->


    <!-- Footer Start -->
    <section class="top-footer">
        <a href="index.html" class="navbar-brand">
            <div class="header-container flex-nowrap" style="width: fit-content;">
                <img src="img/logo2.svg" alt="Logo" class="logo">
                <div class="text-container">
                    <h1 class="m-0 text-uppercase text-primary" style="line-height: 1.0;">
                        <span class="study-spark">STUDY SPARK</span><br>
                        <span class="educational-consultancy">EDUCATIONAL CONSULTANCY</span>
                    </h1>
                </div>
            </div>
        </a>
     </section>
    <div class="bg-dark bottom-bar">
        <!-- Blurred background image for the footer -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="full-width-paragraph my-5">
                        Our mission is to empower individuals and institutions through personalized consultancy
                        services that foster academic excellence, career readiness, and lifelong learning. By
                        combining expertise with a deep commitment to client success, we strive to make a
                        meaningful impact on educational journeys worldwide.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 my-5">
                    <h3 class="text-white mb-4">Get In Touch</h3>
                    <p class="foot-font"><i class="fa fa-map-marker-alt mr-2" style="color: red;"></i>Bangalore, India
                    </p>
                    <p class="foot-font"><i class="fa fa-phone-alt mr-2"></i>+91 63827 09460,<br> &nbsp; &nbsp;
                        &nbsp;+91 91108 01809</p>
                    <p class="foot-font"><i class="fa fa-envelope mr-2"></i>director@studyspark.com</p>
                </div>
                <div class="col-lg-4 my-5">
                    <h3 class="text-white mb-4">Our Courses</h3>
                    <div class="d-flex flex-column" style="font-size: 18px;">
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Medical</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Engineering</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Architecture</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Science</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Commerce</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Law</a>
                    </div>
                </div>
                <div class="col-lg-4 my-5">
                    <h3 class="text-white mb-4">Quick Links</h3>
                    <div class="d-flex flex-column" style="font-size: 18px;">
                        <a class="text-white-50 mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-white-50 mb-2" href="about.html"><i class="fa fa-angle-right mr-2"></i>About
                            Us</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Courses</a>
                        <a class="text-white-50" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                            Us</a>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border: 3px solid white;">

        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-5 mt-3 mb-md-0">
                    <p class="mb-5">Copyright &copy; <a class="text-white" href="#">Study Spark</a>. All Rights
                        Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i
            class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>    

        defaultOpen.click();
       
       
       function openCity(event, ids) {
       
           tablinks = document.getElementsByClassName('tablinks')
       defaultOpen = document.getElementById('defaultOpen')
       tabcontent = document.getElementsByClassName('tabcontent')
       
       
       
           for (var i = 0; i < tablinks.length; i++) {
                
               tablinks[i].className = tablinks[i].className.replace(' active', '')
           }
       
           for (var i = 0; i < tabcontent.length; i++) {
               tabcontent[i].style.display = 'none';
           }
       
           document.getElementById(ids).style.display = 'block'
           event.currentTarget.className += ' active'
            
        
           
       
           var x = window.matchMedia("(max-width: 700px)")
           
       myFunction(x) // Call listener function at run time
       x.addListener(myFunction) // Attach listener function on state changes
       
           function myFunction(x) {
                       
               if (x.matches) { // If media query matches 
       
                   showHere = document.getElementsByClassName("showHere");
                   for (i = 0; i < showHere.length; i++) {
                       showHere[i].style.display = "none";
                   }
       
                   nextDiv = event.currentTarget.nextElementSibling
       
                   allHTML = document.getElementById(ids).innerHTML
                   nextDiv.innerHTML = allHTML
                   nextDiv.style.display = "block";
       
               } 
           }
       
       
       }
       
       </script>
</body>

</html>