<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Study Spark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        .top-bar {
            padding: 5px 15px;
            /* Adjust padding as needed */
            background-color: #343a40;
        }

        .top-bar .text-white {
            font-size: 14px;
            /* Adjust font size as needed */
        }

        .top-bar .d-inline-flex>small {
            margin: 0 5px;
            /* Adjust margin as needed */
        }

        .form-control,
        .custom-select,
        .btn {
            height: 60px;
            padding: 3 rem;
            /* Add this line to apply border radius */
        }

        .btn-primary {
            font-size: 1.1rem;
            /* Add this line to apply border radius */
        }
    </style>

</head>

<body>

    <div class="black-shade" id="black-shade" style="display: none;"></div>

    <%- include('partials/header')%>

        <nav class="navbar justify-content-center navbar-expand-lg bg-white navbar-light py-3 px-lg-5">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center px-lg-3" id="navbarCollapse"
                style="width: 100%;">
                <div class="navbar-nav py-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About us</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Online Course</a>
                        <div class="dropdown-menu m-0">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link ug-dropdown-toggle">UG</a>
                                <div class="m-0 ug-dropdown"> <!-- New class added here -->
                                    <a href="ba.html" class="dropdown-item">BA</a>
                                    <a href="bba.html" class="dropdown-item">BBA</a>
                                    <a href="bca.html" class="dropdown-item">BCA</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link pg-dropdown-toggle">PG Courses</a>
                                <div class="m-0 pg-dropdown"> <!-- New class added here -->
                                    <a href="mba.html" class="dropdown-item">MBA</a>
                                    <a href="mca.html" class="dropdown-item">MCA</a>
                                    <a href="ma.html" class="dropdown-item">MA<br>(English/ Political Science/ Sociology)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Study Abroad</a>
                        <div class="dropdown-menu m-0">
                            <a href="management.html" class="nav-item nav-link">Management </a>
                            <a href="medical.html" class="nav-item nav-link">Medical</a>
                            <a href="engineering.html" class="nav-item nav-link">Engineering</a>
                            <a href="architecture.html" class="nav-item nav-link">Architecture</a>
                            <a href="science.html" class="nav-item nav-link">Science</a>
                            <a href="law.html" class="nav-item nav-link">Law</a>
                            <a href="commerce.html" class="nav-item nav-link">Commerce</a>
                            <a href="arts.html" class="nav-item nav-link">Arts</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Countries</a>
                        <div class="dropdown-menu m-0">
                            <a href="usa.html" class="nav-item nav-link">USA</a>
                            <a href="canada.html" class="nav-item nav-link">Canada</a>
                            <a href="uk.html" class="nav-item nav-link">UK</a>
                            <a href="ireland.html" class="nav-item nav-link">Ireland</a>
                            <a href="singapore.html" class="nav-item nav-link">Singapore</a>
                            <a href="australia.html" class="nav-item nav-link">Australia</a>
                            <a href="newzealand.html" class="nav-item nav-link">New Zealand</a>
                            <a href="dubai.html" class="nav-item nav-link">Dubai</a>
                            <a href="france.html" class="nav-item nav-link">France</a>
                            <a href="italy.html" class="nav-item nav-link">Italy</a>
                            <a href="germany.html" class="nav-item nav-link">Germany</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">MBBS Abroad</a>
                        <div class="dropdown-menu m-0">
                            <a href="russia.html" class="nav-item nav-link">Russia</a>
                            <a href="georgia.html" class="nav-item nav-link">Georgia</a>
                            <a href="philippines.html" class="nav-item nav-link">Philippines</a>
                            <a href="china.html" class="nav-item nav-link">China</a>
                            <a href="serbia.html" class="nav-item nav-link">Serbia</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <!--<a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Join Us</a>-->
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Header Start -->

        <div class="jumbotron jumbotron-fluid position-relative overlay-bottom" id="jumbotron"
            style="height: 20%; padding: 0;margin: 0;">
            <div class="container text-left py-5 custom-container" style="margin: 0; padding: 0 2%;">
                <h1 class="mt-4 mb-4" style="color: #ffffff;">Hello Students,</h1>
                <h1 class="display-1 mb-5" style="font-size: 50px;">
                    <span style="color:#ffffff;">Welcome to Study Spark</span><br>
                    <span style="color: #ffffff;">Educational Consultancy</span>
                </h1>
            </div>

            <div class="pb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group" style="margin: 0 3%; width: fit-content;">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true"   aria-expanded="false">Courses</button>
                        <div class="dropdown-menu">
                            <a href="/bba.html" class="dropdown-item">BBA</a>
                            <a href="/ba.html" class="dropdown-item">BA</a>
                            <a href="/bca.html" class="dropdown-item">BCA</a>
                            <a href="/mba.html" class="dropdown-item">MBA</a>
                            <a href="/ma.html" class="dropdown-item">MA</a>
                            <a href="/mca.html" class="dropdown-item">MCA</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" id="course-input" style="padding: 0 25px;"
                        placeholder="Keyword">
                    <div id="course-suggestions" class="dropdown-menu"
                        style="display: none; position: absolute; top: 100%; left: 0; width: 100%;"></div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>  
            </div>
        </div>
        </div>
        </div>
        <!-- Header End -->
        <a href="https://wa.me/+917397766973" style="text-decoration: none;" class="whatsapp-link" id="whatsapp-link"
            target="_blank">
            <img src="img/whatsappIcon.svg" alt="WhatsApp Logo" class="whatsapp-logo">
            <i class="contact-icon">WhatsApp</i>
            <!-- <span class="tagline">Chat with us on WhatsApp!</span> -->
        </a>



        <section class="contact-form" id="contact">
            <div class="row justify-content-center bg-image mx-0 mb-5">
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-lg-4 col-12 card text-center popup" id="popup"
                        style="display: none;padding: 10px 0;margin: 10px 0;">
                        <a class="close" id="close">x</a>
                        <h4 class="card-title" style="color: purple;">Request Sent Successfully <i
                                class="fa-regular fa-thumbs-up"></i></h4>
                        <p class="card-text text-green" style="color: purple;">Our agent will call you shortly : </p>
                    </div>
                </div>
                <div class="col-lg-12 d-flex align-items-center justify-content-end flex-column flex-lg-row">
                    <!-- Discount Element -->
                    <!-- <div class="col-lg-2 col-12 mb-4 mb-lg-0 d-none d-lg-block">
                    <div class="sale-banner">
                        <div class="sale-banner-inner">
                            <div class="sale-discount">SAVE UP TO 70%</div>
                            <div class="sale-title">BIG SALE</div>
                            <div class="sale-date">TODAY ONLY</div>
                        </div>
                    </div>
                </div> -->
                    <!-- Image Element -->
                    <div class="col-lg-7 col-12 mb-4 mb-lg-0 d-none p-relative d-lg-block">
                        <img src="img/no_cost.svg" class="no-cost" alt="">
                        <img src="img/graduate.png" class="graduate-img"
                            style="width: 100%;height:70vh;object-fit:cover;object-position: center;" alt="">
                    </div>
                    <!-- Form Element -->
                    <div class="col-lg-4 col-12 py-5">
                        <div class=" p-4 my-5">
                            <h1 class="text-center text-white mb-4">Request a Call</h1>
                            <form action="/send-email" method="POST">
                                <div class="form-group">
                                    <input type="text" id="name" name="name" class="form-control bg-light border-0"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="form-control bg-light border-0"
                                        placeholder="Your Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="phone" name="phone" class="form-control bg-light border-0"
                                        placeholder="Your Phone Number" required>
                                </div>
                                <div class="form-group">
                                    <select class="custom-select bg-light border-0" id="course" name="course">
                                        <option selected>Select A Course</option>
                                        <option value="1">Online Course</option>
                                        <option value="2">Study Abroad</option>
                                        <option value="3">MBBS Abroad</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit"
                                    style="background-color: rgb(254, 62, 94);">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Start -->

        <!-- <div class="container py-5">
            <div class="row about-us-container">
                <div class="col-lg-12 d-flex justify-content-between">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6 mb-5 mb-lg-0" style="padding: 0;">
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <section class="about-section" id="about-section">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6">
                    <h2>Have A Look !</h2>
                    <h5 class="display-4 word-spacing" style="font-size: 17px;">&nbsp; "Empowering students
                        through personalized guidance and expert advice, Study Spark Educational Consultancy is
                        dedicated to navigating the complexities of educational opportunities with precision and
                        care. Our mission is to provide individualized support tailored to each student’s unique
                        aspirations, strengths, and academic goals. We understand that the journey through
                        education can be challenging, and our comprehensive support services are designed to
                        alleviate the stress associated with academic decisions and transitions.
                        <br><br> &nbsp; At Study Spark, we offer a range of services including one-on-one
                        counseling, tailored educational planning, and ongoing support throughout the academic
                        journey. Our team of experienced advisors brings a wealth of knowledge about educational
                        institutions, programs, and opportunities, ensuring that each student receives the most
                        relevant and up-to-date information. We are committed to fostering a supportive
                        environment where students feel empowered to make informed decisions about their
                        educational paths."
                    </h5>
                </div>
                <div class="col-lg-6">
                    <img class="w-100" src="img/aboutus.jpg" style="object-fit: cover; height: 100%">
                </div>
            </div>
        </div>
    </section> -->

        <section class="about-section" id="about-section">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <h1 class="about-title purplefont">HAVE A LOOK !</h1>
                        <h5 class="display-4 word-spacing purplefont" style="font-size: 20px;">&nbsp; "Empowering
                            students
                            through personalized guidance and expert advice, Study Spark Educational Consultancy is
                            dedicated to navigating the complexities of educational opportunities with precision and
                            care. Our mission is to provide individualized support tailored to each student’s unique
                            aspirations, strengths, and academic goals. We understand that the journey through
                            education can be challenging, and our comprehensive support services are designed to
                            alleviate the stress associated with academic decisions and transitions.
                            <br><br> &nbsp; At Study Spark, we offer a range of services including one-on-one
                            counseling, tailored educational planning, and ongoing support throughout the academic
                            journey. Our team of experienced advisors brings a wealth of knowledge about educational
                            institutions, programs, and opportunities, ensuring that each student receives the most
                            relevant and up-to-date information. We are committed to fostering a supportive
                            environment where students feel empowered to make informed decisions about their
                            educational paths."
                        </h5>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                        <img class="about-img" src="img/aboutus.jpg">
                    </div>
                </div>
            </div>
        </section>

        <!-- Feature Start -->
        <!--Course Start-->

        <!-- Courses Start -->
        <div class="container-fluid px-0 py-5">
            <div class="row mx-0 justify-content-center pt-5">
                <div class="col-lg-6">
                    <div class="section-title text-center position-relative mb-4">
                        <h1 class="display-4 scroll-background custom-title" style="white-space: wrap; margin: 0">
                            CHECKOUT OUR SERVICES</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row justify-content-center mx-0 mb-4 carousel-parent-containers">
        <div class="col-md-3 mb-3 ml-md-2 2">
            <div class="p-5">
                <div class="p-4 text-center">
                    <img src="img/em.svg" alt="Icon" style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color: rgb(100, 68, 138);">Expert Mentors</h1>
                    <h6 style="color: rgb(100, 68, 138);">
                        <span class="d-block">Our expert mentors guide you in academic decisions, career exploration,
                            and academic planning.</span>
                    </h6>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3 ml-md-2 carousel-parent-containers">
            <div class="p-5">
                <div class="p-4  text-center">
                    <img src="img/em.svg" alt="Icon" style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color: rgb(100, 68, 138);">Expert Mentors</h1>
                    <h6 style="color: rgb(100, 68, 138);"><span class="d-block">Our expert mentors guide you in academic
                            decisions, career exploration and academic planning.</span></h6>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3 ml-md-2 carousel-parent-containers">
            <div class="p-5">
                <div class="p-4  text-center">
                    <img src="img/em.svg" alt="Icon" style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color: rgb(100, 68, 138);">Expert Mentors</h1>
                    <h6 style="color: rgb(100, 68, 138);"><span class="d-block">Our expert mentors guide you in academic
                            decisions, career exploration and academic planning.</span></h6>
                </div>
            </div>
        </div>
    </div> -->

        <section class="services" id="services">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="onlinecourse.html">
                            <div class="services-card">
                                <img src="img/onlinepg.jpg" alt="">
                                <p class="">Online Courses</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="studyabroad.html">
                            <div class="services-card">
                                <img src="img/studyabroad.jpg" alt="">
                                <p class="">Study Abroad</p>
                            </div>
                            <a href="mbbsabroad.html"></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="mbbsabroad.html">
                            <div class="services-card">
                                <img src="img/mbbsabroad.jpg" alt="">
                                <p class="">MBBS Abroad</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h1 class="display-4 scroll-background" style="white-space: wrap; margin: 0;">. . . .</h1>
                </div>
            </div>
        </div>
        </div>

        <!-- <div class="owl-carousel courses-carousel">
            <div class="courses-item position-relative">
                <img class="img-fluid" src="img/onlineug.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Online UG Programs</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="contact.html">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="img/studyab.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Study Abroad</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="contact.html">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="img/mbbsab.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">MBBS Abroad</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="contact.html">Explore More</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h2 class="display-4 scroll-background custom-title" style="white-space: wrap; margin: 0;">
                        Uniqueness About Study
                        Spark</h2>
                </div>
            </div>
        </div>
        </div>
        <div class="row justify-content-center mx-0 mb-4 carousel-parent-containers">
            <div class="col-md-3 mb-3 ml-md-2 carousel-parent-containers features-card">
                <div class="p-2  text-center">
                    <img src="img/em.svg" alt="Icon" style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color: rgb(100, 68, 138);">Expert Mentors</h1>
                    <h6 style="color: rgb(100, 68, 138);"><span class="d-block">Our expert mentors guide you in academic
                            decisions, career exploration and academic planning.</span></h6>
                </div>
            </div>
            <div class="col-md-3 mb-4 ml-md-3 carousel-parent-containers features-card">
                <div class="p-2  text-center">
                    <img src="img/programs.svg" alt="Icon" style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color: rgb(100, 68, 138)">1000+ Programs</h1>
                    <h5 style="color: rgb(100, 68, 138);"><span class="d-block">Our company is averred in these many
                            courses with the topmost universities. </span></h6>
                </div>
            </div>

            <div class="col-md-3 mb-4 ml-md-3 carousel-parent-containers features-card">
                <div class="p-2  text-center">
                    <img src="img/college.svg" alt="Icon" style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color:rgb(100, 68, 138);">2000+ Colleges</h1>
                    <h5 style="color: rgb(100, 68, 138);"><span class="d-block">We are having tie ups with top Colleges
                            and Universities Worldwide.
                        </span></h6>
                </div>
            </div>
            <div class="col-md-3 mb-4 ml-md-3 carousel-parent-containers features-card">
                <div class="p-2  text-center">
                    <img src="img/scholar.svg" alt="Icon" style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color: rgb(100, 68, 138);">Scholarship</h1>
                    <h5 style="color: rgb(100, 68, 138);"><span class="d-block"></span>We assist scholarship for
                        international students.
                        </span></h6>
                </div>
            </div>
            <div class="col-md-3 mb-4 ml-md-3 carousel-parent-containers features-card">
                <div class="p-2  text-center">
                    <img src="img/emi.svg" alt="Icon" style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color: rgb(100, 68, 138);">EMI facilities</h1>
                    <h5 style="color:rgb(100, 68, 138);"><span class="d-block">SSE will assist in EMI for working
                            professionals.
                        </span></h6>
                </div>
            </div>
            <div class="col-md-3 mb-4 ml-md-3 carousel-parent-containers features-card">
                <div class="p-2  text-center">
                    <img src="img/counseling.svg" alt="Icon"
                        style="max-width: 100px; height: auto; margin-bottom: 10px;">
                    <h1 style="color:rgb(100, 68, 138);">Free Counseling</h1>
                    <h6 style="color: rgb(100, 68, 138);">
                        <span class="d-block">Our counselling sessions will immensely benefit you in making the
                            best academic decision suiting your career choices.
                        </span>
                    </h6>
                </div>
            </div>
        </div>


        </div>
        <!-- Courses End -->


        <!-- Team Start -->
        <!--
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Instructors</h6>
                <h1 class="display-4">Meet Our Instructors</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-1.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-2.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-3.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-4.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
        <!-- Team End -->


        <!-- Testimonial Start -->
        <!--
    <div class="container-fluid bg-image py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Testimonial</h6>
                        <h1 class="display-4">What Say Our Students</h1>
                    </div>
                    <p class="m-0">Dolor est dolores et nonumy sit labore dolores est sed rebum amet, justo duo ipsum sanctus dolore magna rebum sit et. Diam lorem ea sea at. Nonumy et at at sed justo est nonumy tempor. Vero sea ea eirmod, elitr ea amet diam ipsum at amet. Erat sed stet eos ipsum diam</p>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed stet amet elitr duo lorem</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="img/testimonial-2.jpg" alt="">
                                <div>
                                    <h5>Student Name</h5>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed stet amet elitr duo lorem</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="img/testimonial-1.jpg" alt="">
                                <div>
                                    <h5>Student Name</h5>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
        <!-- Testimonial Start -->


        <!-- Contact Start -->
        <!--
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-primary mr-4">
                                <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Our Location</h4>
                                <p class="m-0">123 Street, New York, USA</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-secondary mr-4">
                                <i class="fa fa-2x fa-phone-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Call Us</h4>
                                <p class="m-0">+012 345 6789</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-icon bg-warning mr-4">
                                <i class="fa fa-2x fa-envelope text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Email Us</h4>
                                <p class="m-0">info@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Need Help?</h6>
                        <h1 class="display-4">Send Us A Message</h1>
                    </div>
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Name" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Subject" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Message" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
        <!-- Contact End -->



        <%-include('partials/footer')%>


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/counterup/counterup.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>

            <script>



                document.addEventListener('DOMContentLoaded', function () {
                    // Check if URL contains 'success' attribute
                    const urlParams = new URLSearchParams(window.location.search);
                    const success = urlParams.get('success');

                    if (success === 'true') {
                        // Display the popup card
                        const popupCard = document.getElementById('popup');
                        const shade = document.getElementById('black-shade');
                        popupCard.style.display = 'block';
                        shade.style.display = 'block';

                        const closeButton = document.getElementById('close');
                        closeButton.addEventListener('click', function () {
                            window.location.href = '/';
                        })
                    }
                });

                $(document).ready(function () {
                    var courses = [
                        { name: "BBA", url: "/bba.html" },
                        { name: "BA", url: "/ba.html" },
                        { name: "BCA", url: "/bca.html" },
                        { name: "MBA", url: "/mba.html" },
                        { name: "MA", url: "/ma.html" },
                        { name: "MCA", url: "/mca.html" }
                    ];

                    $('#course-input').on('input', function () {
                        var keyword = $(this).val();

                        var suggestions = courses.filter(function (course) {
                            return course.name.toLowerCase().includes(keyword.toLowerCase());
                        });

                        if (suggestions.length > 0) {
                            $('#course-suggestions').empty();
                            $.each(suggestions, function (index, suggestion) {
                                var suggestionItem = $('<a class="dropdown-item" href="' + suggestion.url + '">' + suggestion.name + '</a>');
                                $('#course-suggestions').append(suggestionItem);
                            });
                            $('#course-suggestions').show();
                        } else {
                            $('#course-suggestions').hide();
                        }
                    });

                    // Delay the hiding of suggestions to allow link clicks
                    $('#course-input').on('blur', function () {
                        setTimeout(function () {
                            $('#course-suggestions').hide();
                        }, 200);
                    });

                    // Keep the suggestions visible while hovering over them
                    $('#course-suggestions').on('mousedown', function (event) {
                        event.preventDefault(); // Prevent blur event when selecting
                    });
                });

            </script>

            <!-- <script>
        const icon = document.getElementById('whatsapp-link');
        const section = document.getElementById('header');

        function checkScroll() {
            const rect = section.getBoundingClientRect();
            const viewportHeight = window.innerHeight;

            if (rect.top < viewportHeight && rect.bottom >= 0) {
                icon.classList.remove('whatsapp-link');
            } else {
                icon.classList.add('whatsapp-link');
            }
        }

        window.addEventListener('scroll', checkScroll);
        checkScroll();
    </script> -->

</body>

</html>